# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# VSCode / IDE
.vscode/
.idea/

# Data / credentials
data/
service_account.json
raw_*.csv
clean_*.csv

# OS
.DS_Store
Thumbs.db
